BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
NEYNAR_API_KEY=YOUR_NEYNAR_API_KEY
HUB_GRPC_URL=YOUR_HUB_GRPC_URL
NEYNAR_CLIENT_ID=YOUR_NEYNAR_CLIENT_ID
FARCASTER_DEVELOPER_MNEMONIC=YOUR_FARCASTER_DEVELOPER_MNEMONIC
REDIS_URL=YOUR_REDIS_URL